# Ignore Gradle project-specific cache directory
.gradle
.vs

# Ignore Gradle build output directory
software/**/build/
software/**/.idea/
software/lambda-js/dist/

infrastructure/node_modules/
infrastructure/**/*.js

infrastructure/.vs
infrastructure/!jest.config.js
infrastructure/**/*.d.ts

# CDK asset staging directory
infrastructure/.cdk.staging
infrastructure/cdk.out/
